PORT=5000
MONGO_URL="mongodb+srv://dangkhoa3348:42mzzrSrEhhVvBx6@chat.v8lz8.mongodb.net/"
CLOUDINARY_CLOUD_NAME=dpxx4z2on
CLOUDINARY_API_KEY=416358557259574
CLOUDINARY_API_SECRET=5yy1xijstmcQHdzckw5V7deLQJQ